MONGODB_URI=<mongodb_uri>
NEXT_PUBLIC_LISTING_ADMIN_CODE=<shared_unlock_code>
LISTINGS_IMPORT_TOKEN=<shared_import_token>
SCRAPER_PROXY_SERVER=<http://core-residential.evomi.com:1000:username:password>

SCRAPER_DISCORD_WEBHOOK_URL=<discord_webhook_url>
